# C++ build artifacts
_skbuild/
build/
*.so
*.o

# Python
__pycache__/
.venv/
*.pyc

# IDEs and OS
.vscode/
.idea/
.DS_Store

# Local artifacts and outputs
coverage_reports/
mutants/
.decode/
decode_graph.db*
